@*@model IEnumerable<EMedicalSolution.Models.User>*@
@{
    ViewBag.Title = "Users Management";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="w3-container tablecontainer dashboardDiv" id="users-tab">
    <div class="w3-center w3-dark-gray">
        <h2>Users Management</h2>
    </div>
    <div class="w3-row w3-padding-16">
        <div class="w3-row w3-padding-16">
            @Html.ActionLink("+ Add User", "SaveUser", "Users", new { id = 0 }, new { @class = "popup w3-btn w3-green" })
        </div>
        <div class="w3-responsive">
            <table class="w3-table-all w3-hoverable" id="usersDataTable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Employee Name</th>
                        <th>Role</th>
                        <th>Created</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Staff.FirstName)
                                    @Html.DisplayFor(modelItem => item.Staff.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserRole.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "SaveUser", new { id = item.ID }, new { @class = "popup w3-btn w3-orange" }) </td>
                                <td>@Html.ActionLink("Delete", "deleteUser", new { id = item.ID }, new { @class = "popup w3-btn w3-red" }) </td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <link href="~/Content/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/date.format.js"></script>

    <script src="~/Scripts/DataTable/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTable/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTable/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTable/jszip.min.js"></script>
    <script src="~/Scripts/DataTable/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTable/vfs_fonts.js"></script>

    <script>
        $(document).ready(function () {

            var oTable = $("#usersDataTable").DataTable({
                dom: 'lBfrtip',

                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    "url": '/Users/GetUsers',
                    "type": 'get',
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID", "autoWidth": true },
                    { "data": "Username", "autoWidth": true },
                    { "data": "Name", "autoWidth": true },
                    { "data": "Role", "autoWidth": true },
                    {
                        "data": "Created", "autoWidth": true, "render": function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var sdate = date.format("mmm d, yyyy");
                            return sdate;
                        }
                    },
                    {
                        "data": "ID", "render": function (data) {
                            return '<a class="popup w3-btn w3-orange" href="/Users/SaveUser/' + data + '">Edit<a>';
                        }
                    },
                    {
                        "data": "ID", "render": function (data) {
                            return '<a class="popup  w3-btn w3-red" href="/Users/deleteUser/' + data + '">Delete<a>';
                        }
                    }
                ]
            });

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'), oTable, "User");
            });
        });
    </script>
}



