
@model IEnumerable <EMedicalSolution.ViewModels.PatientHistoryVM>
<div class="w3-container tablecontainer-history dashboardDiv" id="patients-tab">

<div class="w3-row w3-padding-16">
    <input type="hidden" id="historyList_patientID" name="patientID" value="@ViewBag.patientID" />
    
    <div class="w3-row w3-padding-16">
        @Html.ActionLink("+ Add New", "PatientInsuranceType", "Patients", new { id = @ViewBag.patientID }, new { @class = "popup w3-btn w3-green" })
    </div>
    <input type="hidden" value="@ViewBag.PatienName" id="ViewBag_PatienName" />
    <div class="w3-responsive">
        <table class="w3-table-all w3-hoverable" id="patientHistoryDataTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Insurance Type</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

               @foreach (var item in Model)
               {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Title</td>
                    <td>@item.Created</td>
                    <td><a class="popup  w3-btn w3-orange" href="/Patients/ViewHistory/@item.ID">View</a></td>
                </tr>
               }

            </tbody>

        </table>

        
    </div>
</div>
</div>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/date.format.js"></script>

<script>
    $(document).ready(function () {
        var pName = $("#ViewBag_PatienName").val();
        if (pName !== undefined && pName !== "") {
            $("#PatienName").html("");
            $("#PatienName").html("Pateint Name: "+ pName);
            $("#PatienName").css("display", "block");
            $("#ViewBag_PatienName").val('');
            pName = "";
         }
        var oTable = $("#patientHistoryDataTable").DataTable({

            //"ajax": {
            //    "url": '/Patients/historyList/1',
            //    "type": 'get',
            //    "datatype": "json"
            //},
            //"columns": [
            //    { "data": "FirstName", "autoWidth": true },
            //    { "data": "LastName", "autoWidth": true },
            //     { "data": "Title", "autoWidth": true },
            //    {
            //        "data": "Created", "autoWidth": true, "render": function (data) {
            //            var date = new Date(parseInt(data.substr(6)));
            //            var sdate = date.format("mmm d, yyyy");
            //            return sdate;
            //        }
            //    },

            //    {
            //        "data": "ID", "render": function (data) {
            //            return '<a class="popup  w3-btn w3-orange" href="/Patients/delete/' + data + '">View<a>';
            //        }
            //    }
            //]
        });

        $('.tablecontainer-history').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'), oTable, "History");
        });
        $("#patientID").val($("#historyList_patientID").val());
    });
</script>



