   @*@using (Ajax.BeginForm("intake", "Patients", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "step-4" }))
    {*@
    <h3>Symptoms</h3>
    @if (Model != null && Model.objSymptom != null)
    {
        <div class="col-sm-12">
            @foreach (var symptom in Model.objSymptom)
            {
                <div class="col-sm-4">
                    <input class="w3-radio Symptom_symptom" type="checkbox" value="@symptom.ID" /> @symptom.Title
                    @*@Html.CheckBoxFor(model => model.objSymptom[count].isSelected, new { htmlAttributes = new { @class = "form-control", value = procedure.ID } })
                    @symptom.Title*@
                </div>
                if (symptom.ID % 3 == 2)
                {
                    <br />
                }
            }
        </div>
    }
    <h3>Disease</h3>
    @if (Model != null && Model.objDisease != null)
    {
        <div class="col-lg-12">
            @foreach (var disease in Model.objDisease)
            {
                <div class="col-lg-4">
                    <input class="w3-radio Disease_disease" type="checkbox" value="@disease.ID" /> @disease.Title
                </div>
                if (disease.ID % 3 == 2)
                {
                    <br />
                }
            }
        </div>
       }
   @*}*@