
@{ string iType = "0";}
@using (Html.BeginForm("intake", "Patients", FormMethod.Post, new { id = "intake" }))
            {
    <input type="hidden" value="@ViewBag.supportDevice" id="ViewBagSupportDevice" />
    <input type="hidden" value="@ViewBag.currentlyPregnant" id="ViewBagCurrentlyPregnant" />
    <div class="w3-row">
        <label> Do you have a pacemaker, defibrillator, or any life support device? </label>
        <input class="w3-radio" type="radio" name="supportDevice" id="supportDeviceYes" value="Yes" /> Yes
        <input class="w3-radio" type="radio" name="supportDevice" id="supportDeviceNo" value="No" /> No
    </div>
    <div class="w3-row">
        <label>Are you currently pregnant? </label>
        <input class="w3-radio" type="radio" name="pregnant" id="pregnant1" value="1" /> Yes
        <input class="w3-radio" type="radio" name="pregnant" id="pregnant0" value="0" /> No
        <input class="w3-radio" type="radio" name="pregnant" id="pregnant2" value="2" /> N/A
    </div>
    <br>
    <div class="w3-row">
        <div>
            <label> Is this condition interfering with any of the following?</label>
        </div>
        @if (Model != null && Model.objInterferingConditionVM1 != null)
        {

            foreach (var condition in Model.objInterferingConditionVM1)
            {
                iType = "1";
                <input type="hidden" value="@iType" id="next_button_toggle_2" />
                <div class="w3-third" id="intakeInterferingCondition">
                    @if (condition.HistoryID > 0)
                    {
                        <input class="w3-radio" type="checkbox" name="condition" value="@condition.ID" checked /> @condition.Title
                    }
                    else {
                        <input class="w3-radio" type="checkbox" name="condition" value="@condition.ID" /> @condition.Title
                    }
                </div>
            }

        }
    </div>
    <br>
    <div class="w3-row">
        <div>
            <label>Symptoms</label>
        </div>
        @if (Model != null && Model.objSymptomVM1 != null)
        {
            foreach (var symptom in Model.objSymptomVM1)
            {
                <div class="w3-third" id="intakeSymptom">
                    @if (symptom.HistoryID > 0)
                    {
                        <input class="w3-radio" type="checkbox" name="symptom" value="@symptom.ID" checked /> @symptom.Title
                    }
                    else {
                        <input class="w3-radio" type="checkbox" name="symptom" value="@symptom.ID" /> @symptom.Title
                    }
                </div>

            }
        }
    </div>
    <br>
    <div class="w3-row">
        <div>
            <label>
                Disease
            </label>
        </div>

        @if (Model != null && Model.objPatientDiseaseVM != null)
        {
            foreach (var disease in Model.objPatientDiseaseVM)
            {
                <div class="w3-third" id="intakeDisease">
                    @if (disease.HistoryID > 0)
                    {
                        <input class="w3-radio" type="checkbox" name="disease" value="@disease.ID" checked /> @disease.Title
                    }
                    else {
                        <input class="w3-radio" type="checkbox" name="disease" value="@disease.ID" /> @disease.Title
                    }
                </div>
            }
        }
    </div>
    <div class="ajax_loader_save" style="display:none;margin-top: -180px; margin-left: 200px;z-index:300"><img src="~/Images/ajax_loader.png" /></div>
    <p id="intakeError" class="saveError" style="font-size:large;color:red;display:none">Please select at least one option</p>
    <div class="w3-row w3-margin-top">
        <div class="w3-third" style="float: none; margin: auto">
            <button class="w3-btn-block w3-green submitForm" type="button">Save</button>
        </div>
    </div>
}
