<h2>Step 5 Content</h2>
@{ string mType = "0";}
@using (Html.BeginForm("SaveMedicalNecessities", "Patients", FormMethod.Post, new { id = "SaveMedicalNecessities" }))
{
    <h4>Primary Diagnosis</h4>
    if (Model.objMedicalNecessity1 != null)
    {
        foreach (var necessity in Model.objMedicalNecessity1)
        {
            if (necessity.HistoryID > 0)
            {
                mType = "1";
                <input type="hidden" value="@mType" id="next_button_toggle_4" />
            <input type="checkbox" name="necessities" class="necessities" value="@necessity.ID" checked/>  @(necessity.ICD10Code + " - " + necessity.Description)
            }
            else {
                <input type="checkbox" name="necessities" class="necessities" value="@necessity.ID"  />  @(necessity.ICD10Code + " - " + necessity.Description)
            }<br />
        }
    }

    <h4>Secondary Diagnosis</h4> 
    if (Model.PatientHistoryVM11 != null && Model.PatientHistoryVM11.SecondaryNecessities != null && Model.PatientHistoryVM11.SecondaryNecessities != "")
    {
       <input type = "text" name = "txtsecondary" disabled = "disabled" value="@Model.PatientHistoryVM11.SecondaryNecessities" id = "secondaryDiagnosis" />
    }
    else {
        <input type="text" name="txtsecondary" disabled="disabled" id="secondaryDiagnosis" />
    }

<div class="w3-row  w3-margin-top">
        <button class="w3-btn-block w3-green submitForm" type="button">Save</button>
    </div>
}

