
<title>Order Form</title>

<h2>Step 6 Content</h2>
@{ string pType = "0";}
@*<button class="btn btn-primary" id="btn_order_report" type="button">Order Form</button> <button class="btn btn-primary" id="btn_bill_report" type="button">Supper Bill</button>*@
@Html.ActionLink("Order Form", "orderReport", "Patients", new { id = @ViewBag.HistoryID }, new { target = "_blank" }) /
@Html.ActionLink("Supper Bill", "orderBill", "Patients", new { id = @ViewBag.HistoryID }, new { target = "_blank" })
@*@Html.ActionLink("Excel Report", "ExportToExcel", "Patients", new { id = @ViewBag.HistoryID }, new { target = "_blank" })*@

@using (Html.BeginForm("ConvertPatientToPdf", "Patients", FormMethod.Post, new { id = "PhysicianApproval" }))
{
    <input type="hidden" value="@ViewBag.HistoryID" name="orderFormHistoryId" />

    <div id="physicianRemarksTextBox">
        @if (Model != null && Model.PatientHistoryVM11 != null && Model.PatientHistoryVM11.isApprovedByPhysician != null && Model.PatientHistoryVM11.isApprovedByPhysician == true && Model.StaffNameVM != null && Model.StaffNameVM.PhycisianName != null)
        {

            pType = "1";
            <input type="hidden" value="@pType" id="next_button_toggle_5" />

            <div class="w3-panel w3-hover-blue w3-light-blue w3-round-xxlarge">
                <h3>Physician Approval</h3>
                <p>Approve by Dr. @Model.StaffNameVM.PhycisianName </p>
                <p><strong>Reason:</strong> @Model.StaffNameVM.PhysicianRemarks</p>
                 </div>
            <div class="update-physician-remarks hidden" style="height:220px;">
                <label>Physician Remarks:</label><br />
                <textarea rows="4" cols="56" name="physicianRemarks" class="physicianRemarksValue"> </textarea><br />
                <p class="saveError" style="font-size:large;color:red;display:none">Please enter about the patient</p>
                <div class="w3-row">
                    <div class="w3-twothird w3-right">
                        <a class="popup w3-btn w3-orange" id="click_approveButton_update">Update</a>
                    </div>
                </div>
            </div>
            <a style="cursor:pointer;font-size:large;text-decoration:underline" id="update_physician_resean_btn">Update Reason</a>

        }
        else {
            if (Session["role"] != null && Session["role"].ToString() == "2") //2 for specialist
            {
                <label>Physician Remarks:</label><br />
                <textarea rows="4" cols="56" name="physicianRemarks" class="physicianRemarksValue"> </textarea><br />
                <p class="saveError" style="font-size:large;color:red;display:none">Please enter about the patient</p>
                <div class="w3-row">
                    <div class="w3-twothird w3-right">
                        <a class="popup w3-btn w3-orange" id="click_approveButton">Approve</a>
                    </div>
                </div>
            }
            else
            {
                <p class="w3-text-red w3-margin-top">Approval required by Physician</p>
            }
        }
    </div>
    if (Session["role"] != null && Session["Name"] != null && Session["role"].ToString() == "2")  //Physician id 2
    {
        <div class="w3-panel w3-hover-blue w3-green w3-round-xxlarge" id="Approvedbyphysician" style="display:none">
            <h3>Success</h3>
            <p>Approve by Dr. @Session["Name"].ToString() </p>
        </div>
    }

}
<script>

    $('#PhysicianApproval').on('click', 'a.popup', function (e) {
        e.preventDefault();
        OpenPopup($(this).attr('href'), "", "physicianSignature");
    });


    //submission form -------start-----------
    $('#click_approveButton').on('click', function (e) {
        var val = $(document).find(".physicianRemarksValue").val();
        if (val !== undefined && val !== null && val !== "") {
            $(document).find(".saveError").css("display", "none");
            $('#click_approveButton').attr("href", "/Patients/physicianSignature");

        } else {
            $(document).find(".saveError").css("display", "block");
            $('#click_approveButton').removeAttr("href");
        }
    });

    //show updation-----------
    $('#update_physician_resean_btn').on('click', function (e) {
        $(document).find(".update-physician-remarks").removeClass("hidden");
        //$(document).find(".physicianRemarksValue").html()
        
    });
    //update remarks
    $('#click_approveButton_update').on('click', function (e) {
        var val_upd = $(document).find(".physicianRemarksValue").val();
        if (val_upd !== undefined && val_upd !== null && val_upd !== "") {
            $(document).find("#update_physician_resean_btn").css("display", "block");
            $('#click_approveButton_update').attr("href", "/Patients/physicianSignature");

        } else {
            $(document).find("#update_physician_resean_btn").css("display", "none");
            $('#click_approveButton_update').removeAttr("href");
        }
    });
</script>

