<head>

    <title>Order bill</title>
    <style>
        body {
            background: darkgray;
        }

        .page-div {
            width: 8.27in;
            float: none;
            margin: auto;
            font-family: "Trebuchet MS", "serif";
            background: white;
        }

        .content-area {
            padding: 0.5cm 1cm;
        }

        #patientDetails p b {
            width: 25%;
            float: left;
        }

        h3 {
            text-align: center;
        }

        h4 {
            text-align: center;
            color: darkgray;
        }


        /*table {
            width: 100%;
            margin-top: 0.5cm;
            margin-bottom: 0.5cm;
            font-size: 18px;
            border: 1px black solid;
        }*/

            table td {
                border: 1px black solid;
                text-align: center;
                vertical-align: middle;
            }

        #notice {
            text-align: center;
            margin-top: 1cm;
        }
  
        h3, h6 {
            text-align: center;
            line-height: 0;
        }

        .h4-superbill {
            text-align: center;
            color: darkgray;
            line-height: 0.3;
        }

        p span {
            text-decoration: underline;
        }

        table {
            width: 100%;
            margin-top: 0.5cm;
            margin-bottom: 0.5cm;
            font-size: 15px;
            border: 1px black solid;
        }

            table td {
                border: 1px black solid;
                vertical-align: middle;
            }

        thead td {
            text-align: center;
            font-weight: bold;
        }
        .bg-grey {
            background: gray;
        }
    </style>

</head>

@using (Html.BeginForm("ConvertPatientToPdf", "Patients", FormMethod.Post, new { id = "PhysicianApproval" }))
{
    <input type="hidden" value="@ViewBag.HistoryID" name="orderFormHistoryId" />
   <input type="hidden" value="orderBill" name="orderFormType" />
    <div class="page-div" id="super_bill_report" >

        <div class="content-area">

            <h3 style="padding:10px;">Advanced Clinic Testing</h3>
            <h4 class="h4-superbill" style="margin:20px;">Home Sleep Study and Allergy Test Specialist</h4>
            <h6 style="padding:10px;">4551 Pleasant Hill Rd, Kissimmee, FL 34746</h6>
            <h6 style="padding:10px;">Phone: (281) 693-5289 Fax: (281)693-3111</h6>

            <table cellspacing="0">
                <tbody>
                    <tr>
                        <td style="width: 40%"><b>Date of service:</b> date patient lives with HST</td>
                        <td style="width: 30%"><b>Insurance: P</b> BLS PPO</td>
                        <td style="width: 30%" class="bg-grey"><b>Billing Information</b></td>
                    </tr>
                    <tr>
                        <td><b>Last Name:</b> @if (Model != null && Model.objPatient != null && Model.objPatient.LastName != null)
                        {
                            <span>@Model.objPatient.LastName</span>
                        }</td>
                        <td><b>Insurance:</b> S</td>
                        <td>Copay/Coins</td>
                    </tr>
                    <tr>
                        <td><b>First Name:</b> @if (Model != null && Model.objPatient != null && Model.objPatient.FirstName != null)
                        {
                            <span>@Model.objPatient.FirstName</span>
                        }</td>
                        <td><b>Physician's Name:</b> S</td>
                        <td>Deductible</td>
                    </tr>
                    <tr>
                        <td><b>Time in:</b> @if (Model != null && Model.objPatient != null && Model.objPatient.Created != null)
                        {
                            <span>@Model.objPatient.Created</span>
                        }</td>
                        <td></td>
                        <td>CC, Cash, Check</td>
                    </tr>
                    <tr>
                        <td><b>DOB:</b> @if (Model != null && Model.objPatient != null && Model.objPatient.DOB != null)
                        {
                            <span>@Model.objPatient.DOB</span>
                        }</td>
                        <td><b>Age:</b> 29</td>
                        <td><b>Total Paid:</b> 2000</td>
                    </tr>
                </tbody>
            </table>

            <table cellspacing="0">

                <thead>
                    <tr>
                        <td style="width: 4%">&#x2716;</td>
                        <td style="width: 20%">Description</td>
                        <td style="width: 9%">Code</td>
                        <td style="width: 4%">MOD</td>
                        <td style="width: 20%">Description</td>
                        <td style="width: 9%">Code</td>
                        <td style="width: 4%">MOD</td>
                        <td style="width: 20%">Description</td>
                        <td style="width: 9%">Code</td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="bg-grey">
                        <td></td>
                        <td>DIAGNOSIS</td>
                    </tr>
                  
                            @if (Model != null && Model.objSymptomVM1 != null)
                            {
                                int i = 0;
                                foreach (var symptom in Model.objSymptomVM1)
                                {
                                    if (i == 0)
                                    {
                                        @:<tr>
                                      }
                                    if (ViewBag.HistoryID != symptom.HistoryID)
                                    {
                                        if (i == 0)
                                        {

                                            <td>&#x2716;</td>
                                            <td> @symptom.Title</td>
                                                <td>G1000000</td>
                                            i = 1; continue;

                                        }
                                        if (i == 1)
                                        {

                                            <td>&#x2716;</td>
                                            <td> @symptom.Title</td>
                                                        <td>G1000000</td>
                                            i = 2; continue;

                                        }
                                        if (i == 2)
                                        {

                                            <td>&#x2716;</td>
                                            <td> @symptom.Title</td>
                                                    <td>G1000000</td>
                                            i = 0; continue;

                                        }
                                        if (i == 2)
                                        {
                                            @:</tr>
                                      }

                                    }
                                }
                            }

                            @*<td>&#x2716;</td>
                                <td>Obstructive Sleep Apnea</td>
                                <td>G47.33</td>
                                <td>&#x2716;</td>
                                    <td>Obstructive Sleep Apnea</td>
                                    <td>G47.33</td>
                                    <td>&#x2716;</td>
                                    <td>Obstructive Sleep Apnea</td>
                                    <td>G47.33</td>*@

<tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>

                    <tr class="bg-grey">
                        <td></td>
                        <td>SLEEP STUDIES</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>

                    <tr class="bg-grey">
                        <td></td>
                        <td>CPAP & SUPPLIES</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                    <tr>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                        <td>&#x2716;</td>
                        <td>Obstructive Sleep Apnea</td>
                        <td>G47.33</td>
                    </tr>
                </tbody>
            </table>

            <p>
                Payment Type:
                <span>&#x2716;</span>
                Cash
                <span>&#x2714;</span>
                Cheque
                <span>&#x2716;</span>
                Credit Card
            </p>

            <p>
                Total Amount:
                <span>Data here</span>
                Monthly Payment:
                <span>Data here</span>
            </p>

            <p>
                I HEREBY AUTHORIZE MY INSURANCE BENEFITS TO BE PAID DIRECTLY TO <span>Data here</span> AND I AM RESPONSIBLE
                FOR ANY NON-COVERED SERVICES. I ALSO AUTHORIZE THE RELEASE OF ANY INFORMATION REQUIRED FOR THE PROCESSING OF
                THE CLAIM.
            </p>

            <p id="notice">
                <i>
                    Advanced Clinic Testing LLC 4551 Pleasant Hill Rd, Kissimmee, FL 34746 Phone: (281) 693-5289
                    Fax: (281)693-3111
                </i>
            </p>

        </div>

    </div>
    <div class="w3-row w3-padding-16">
        <input type="submit" value="print report" />
        </div>
        }
