<div class="w3-row w3-light-gray">
    <h3>Patient Profile</h3>
    @if (Model != null && Model.objPatient != null && Model.objPatient.FirstName != null)
    {
        <div class="w3-row w3-margin-top">
        <b>Patient Name :</b>
         <span>@Model.objPatient.FirstName @Model.objPatient.LastName</span>
    </div>
    <div class="w3-row w3-margin-top">
        <b>Patient Gender :</b>
        <span>@Model.objPatient.Gender</span>
    </div>
    <div class="w3-row w3-margin-top">
        <b>Patient DOB :</b>
        <span>@Model.objPatient.DOB.ToString("dd/MM/yyyy")</span>
    </div>
    <div class="w3-row w3-margin-top">
        @if (Model.StaffNameVM != null && Model.StaffNameVM.PhycisianName != null)
        {
            <b>Approved by :</b>
            <span>Dr. @Model.StaffNameVM.PhycisianName (Physician)</span>
        }
        else
        {
            <b>Physician Approval :</b>
            <span>Pending</span>
        }
    </div>
    <div class="w3-row w3-margin-top">
        @if (Model.StaffNameVM != null && Model.StaffNameVM.SpecialistName != null)
        {
            <b>Approved by :</b>
            <span>Dr. @Model.StaffNameVM.SpecialistName (Specialist)</span>
        }
        else
        {
            <b>Specialist Approval :</b>
            <span>Pending</span>
        }
    </div>
    }
</div>