@model EMedicalSolution.ViewModels.patientIntakeViewModel

@{
    ViewBag.Title = "Patient Wizard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

<link href="~/Content/wizard/smart_wizard.css" rel="stylesheet" />

<link href="~/Content/wizard/smart_wizard_theme_arrows.css" rel="stylesheet" />
<link href="~/Content/wizard/smart_wizard_theme_circles.css" rel="stylesheet" />
<link href="~/Content/wizard/smart_wizard_theme_dots.css" rel="stylesheet" />


<div class="w3-container tablecontainer dashboardDiv" id="patients-tab">
    <div class="w3-center w3-dark-gray">
        <h2>Patients Wizard</h2>
    </div>
    <div class="w3-row w3-padding-16">
         <br />
        <div>
        <span id="PatienName" style="display:none"></span></div>
        <!-- SmartWizard html -->
        <div id="smartwizard">
            <ul>
                <li>
                    <a href="#step-1">
                        Step 1<br />
                        <small>Patient Info</small>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        Step 2<br />
                        <small>Choice of Procedures</small>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        Step 3<br />
                        <small>Intake Form</small>
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                        Step 4<br />
                        <small>Upload Test Report</small>
                    </a>
                </li>
                <li>
                    <a href="#step-5">
                        Step 5<br />
                        <small>Medical Necessities</small>
                    </a>
                </li>
                <li>
                    <a href="#step-6">
                        Step 6<br />
                        <small>Order Form / Super Bill</small>
                    </a>
                </li>
                <li>
                    <a href="#step-7">
                        Step 7<br />
                        <small>Results interpretation</small>
                    </a>
                </li>

            </ul>

            <div>
                <div id="step-1" class="pre-scrollable">
                     @Html.Partial("PatientsList")
                </div >
                <div id="step-2" class="pre-scrollable">
                    @Html.Partial("procedureTypes")
                </div>
                <div id="step-3" class="pre-scrollable">
                  @Html.Partial("intake")
                    </div>
                 <div id="step-4" class="pre-scrollable">
                     @Html.Partial("uploadReport")
                </div>
                <div id="step-5" class="pre-scrollable">
                 @Html.Partial("medicalNecessity")              
                 </div>
                <div id="step-6" class="pre-scrollable">
                    @Html.Partial("orderForm") 
                </div>
                <div id="step-7" class="pre-scrollable">
                    @Html.Partial("resultInterpretation") 
                </div>
                </div>
                </div>


            </div>
        </div>
        @section Scripts {
            <script src="~/Scripts/Wizard/jquery.smartWizard.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    var numberOFSteps = 0;
                    var pHistoryId = 0;
                    // Step show event
                    $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                        //alert("You are on step "+stepNumber+" now");
                        numberOFSteps = stepNumber;
                        if (stepPosition === 'first') {
                            $("#prev-btn").addClass('disabled');
                        } else if (stepPosition === 'final') {
                            $("#next-btn").addClass('disabled');
                        } else {
                            $("#prev-btn").removeClass('disabled');
                            $("#next-btn").removeClass('disabled');
                        }
                    });

                    // Toolbar extra buttons
                    var btnFinish = $('<button></button>').text('Finish')
                                                     .addClass('btn btn-info')
                                                     .on('click', function () { alert('Finish Clicked'); });
                    var btnCancel = $('<button></button>').text('Cancel')
                                                     .addClass('btn btn-danger')
                                                     .on('click', function () { $('#smartwizard').smartWizard("reset"); });


                    // Smart Wizard
                    $('#smartwizard').smartWizard({
                        selected: 0,
                        theme: 'default',
                        transitionEffect: 'fade',
                        showStepURLhash: true,
                        toolbarSettings: {
                            toolbarPosition: 'both',
                            toolbarExtraButtons: [btnFinish, btnCancel]
                        }
                    });


                    // External Button Events
                    $("#reset-btn").on("click", function () {
                        // Reset wizard
                        $('#smartwizard').smartWizard("reset");
                        return true;
                    });

                    $("#prev-btn").on("click", function () {
                        // Navigate previous
                        $('#smartwizard').smartWizard("prev");
                        return true;
                    });

                    $("#next-btn").on("click", function () {
                        // Navigate next
                        $('#smartwizard').smartWizard("next");
                        return true;
                    });

                    $("#theme_selector").on("change", function () {
                        // Change theme
                        $('#smartwizard').smartWizard("theme", "arrows"); //$(this).val());
                        return true;
                    });
                    $('#smartwizard').smartWizard("theme", "arrows");
                    // Set selected theme on page refresh
                    $("#theme_selector").change();


                    //------------------- To add multiple reports ------------------
                    var max_fields = 10; //maximum input boxes allowed
                    var wrapper = $(".input_fields_wrap"); //Fields wrapper
                    var add_button = $(".add_field_button"); //Add button ID

                    var x = 0; //initlal text box count
                    $(add_button).click(function (e) { //on add input button click
                        e.preventDefault();
                        if (x < max_fields) { //max input box allowed
                            x++; //text box increment
                            $(wrapper).append('<div><input type="file" class="js-upload-files" name="filePath" id="[' + x + '].filePath" /><input type="text" class="js-files-title" name="filetitle" id="[' + x + '].filetitle" /><a href="#" class="remove_field">Remove</a></div>'); //add input box
                        }
                    });

                    $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                        e.preventDefault();
                        $(this).parent().remove();
                        x--;
                    })
                    //------------------- END of multiple reports ------------------
                });

                //submission form -------start-----------
                $(document).find('.submitForm').on('click', function (e) {
                    var parentForm = $(this).parent().parent().attr('id');
                   // console.log("the parent id is", $('#' + parentForm).files[0]);
                    $.ajax({
                        type: "POST",
                        enctype: "multipart/form-data",
                        url: "/Patients/" + parentForm,
                        data: $('#' + parentForm).serialize(),
                        success: function (data) {
                            console.log(data);
                            if (data) {
                                alert("success");
                            // $(".sw-btn-next").prop('disabled', true);
                            }
                        }
                    })
                });
                //submission form -------End-----------

                
                $('#addPatientReport').click(function () {
                    $formData = new FormData();
                    var pHistoryId = $("#pHistoryId_id").val();
                    $('.js-upload-files').each(function () {
                        console.log("id",this.id);
                        var $file = document.getElementById(this.id);
                        console.log($file,"file path", $file.files.length);   

                    if ($file.files.length > 0) {
                       for (var i = 0; i < $file.files.length; i++) {
                           $formData.append('filePath', $file.files[i]);
                       }
                        }
                    });
                    $(".js-files-title").each(function (x, y) {
                        $formData.append($(y).attr("name"), $(y).val());
                    });
                        $.ajax({
                            url: '/Patients/uploadReports?pHistoryId=' + pHistoryId,
                           type: 'POST',
                           data: $formData,
                           dataType: 'json',
                           contentType: false,
                           enctype: 'multipart/form-data',
                           processData: false,
                           success: function ($data) {
                               
                           }
                         });
                });


                // Check if primary necessity is selected then enable secondary diaganosis 
                $("input[type='checkbox'].necessities").change(function () {
                    var a = $("input[type='checkbox'].necessities");
                    if (a.filter(":checked").length > 0) {
                        $('#secondaryDiagnosis').prop('disabled', false);
                    }
                    else {
                        $('#secondaryDiagnosis').prop('disabled', true);
                    }
                });

               
            </script>
        }