@model EMedicalSolution.ViewModels.patientIntakeViewModel

@{
    ViewBag.Title = "Patient Wizard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

<link href="~/Content/wizard/smart_wizard.css" rel="stylesheet" />

<link href="~/Content/wizard/smart_wizard_theme_arrows.css" rel="stylesheet" />
<link href="~/Content/wizard/smart_wizard_theme_circles.css" rel="stylesheet" />
<link href="~/Content/wizard/smart_wizard_theme_dots.css" rel="stylesheet" />

<style>
    .pre-scrollable.step-content{
        background: #f1f1f1 !important;
        margin: 0 !important;
        padding: 0 16px !important;
    }
    .pre-scrollable.step-content .w3-check{
        margin-right: 8px;
    }
</style>

<div class="w3-container tablecontainer dashboardDiv" id="patients-tab">
    <div class="w3-center w3-dark-gray">
        <h2>Patients Wizard</h2>
    </div>
    <div class="w3-row w3-padding-16">
         <br />
        <div>
        <span id="PatienName" style="display:none"></span></div>
        <!-- SmartWizard html -->
        <div id="smartwizard">
           @if (Model != null && Model.objPatient != null && Model.objPatient.FirstName != null)
           { <b>Patient Name :</b>
                <b>@Model.objPatient.FirstName @Model.objPatient.LastName</b> 
           }
            @*hidden patient id and history id*@
            <input type="hidden" id="patientID" name="patientID" />
            <input type="hidden" id="pHistoryId" name="pHistoryId" value="@ViewBag.HistoryID" />

            <ul>
                <li>
                    <a href="#step-1">
                        Step 1<br />
                        <small>Patient Info</small>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        Step 2<br />
                        <small>Procedures type</small>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        Step 3<br />
                        <small>Intake Form</small>
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                        Step 4<br />
                        <small>Upload Report</small>
                    </a>
                </li>
                <li>
                    <a href="#step-5">
                        Step 5<br />
                        <small>Medical Necessities</small>
                    </a>
                </li>
                <li>
                    <a href="#step-6">
                        Step 6<br />
                        <small>Order Form / Super Bill</small>
                    </a>
                </li>
                <li>
                    <a href="#step-7">
                        Step 7<br />
                        <small>Progress Note</small>
                    </a>
                </li>
                <li>
                    <a href="#step-8">
                        Step 8<br />
                        <small>Results interpretation</small>
                    </a>
                </li>
            </ul>

            <div>
                <div id="step-1" class="pre-scrollable">
                     @Html.Partial("patientView")
                </div >
                <div id="step-2" class="pre-scrollable">
                    @Html.Partial("procedureTypes")
                </div>
                <div id="step-3" class="pre-scrollable">
                  @Html.Partial("intake")
                    </div>
                 <div id="step-4" class="pre-scrollable">
                     @Html.Partial("uploadReport")
                </div>
                <div id="step-5" class="pre-scrollable">
                 @Html.Partial("medicalNecessity")              
                 </div>
                <div id="step-6" class="pre-scrollable">
                    @Html.Partial("orderForm") 
                </div>
                <div id="step-7" class="pre-scrollable">
                    @Html.Partial("progressNote") 
                </div>         
                <div id="step-8" class="pre-scrollable">
                    @Html.Partial("resultInterpretation") 
                </div>      
                </div>

                </div>


            </div>
        </div>
        @section Scripts {
            <script src="~/Scripts/Wizard/jquery.smartWizard.min.js"></script>
            <script type="text/javascript">
                var stepNumbersForm = 0;
                var ViewBagSupportDevice = $("#ViewBagSupportDevice").val();
                var ViewBagCurrentlyPregnant = $("#ViewBagCurrentlyPregnant").val();
                if (ViewBagSupportDevice !== undefined && ViewBagSupportDevice === "No") {
                    $("#supportDeviceNo").prop("checked", true);
                } else { $("#supportDeviceYes").prop("checked", true); }
                if (ViewBagCurrentlyPregnant !== undefined && ViewBagCurrentlyPregnant === "0") {
                    $("#pregnant0").prop("checked", true);
                } else if (ViewBagCurrentlyPregnant !== undefined && ViewBagCurrentlyPregnant === "2") {
                    $("#pregnant2").prop("checked", true);
                } else { $("#pregnant1").prop("checked", true); }
                $(document).ready(function () {                    
                    var numberOFSteps = 0;                   

                    var pHistoryId = 0;
                    // Step show event
                    $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection, stepPosition) {
                         
                        if (stepNumber == 4) {
                            $(".finish-button").removeClass("disabled")
                        }
                        stepNumbersForm = stepNumber;
                          numberOFSteps = stepNumber;
                          if (numberOFSteps == 0) {
                              setTimeout(function () {
                                  $(".sw-btn-next").removeClass("disabled");
                                  $(".sw-btn-next").css("pointer-events", "auto");
                              }, 10);
                          } else
                              setTimeout(function () {
                                  var type = $("#next_button_toggle_" + stepNumber).val();
                                  console.log("the bool value is", type);
                                  if (type != undefined && type == "1") {
                                      $(".sw-btn-next").removeClass("disabled");
                                      $(".sw-btn-next").css("pointer-events", "auto");
                                      
                                  } else {
                                      $(".sw-btn-next").addClass("disabled");
                                      $(".sw-btn-next").css("pointer-events", "none");
                                  }
                              }, 10);
                        if (stepPosition === 'first') {
                            $("#prev-btn").addClass('disabled');
                        } else if (stepPosition === 'final') {
                            $("#next-btn").addClass('disabled');
                        } else {
                            $("#prev-btn").removeClass('disabled');
                            $("#next-btn").removeClass('disabled');
                        }
                    });

                    // Toolbar extra buttons
                    var btnFinish = $('<button></button>').text('Finish')
                                                     .addClass('btn btn-info finish-button disabled')
                                                     .on('click', function () { if ($(this).hasClass("disabled")) { return false;} });
                    var btnCancel = $('<button></button>').text('Cancel')
                                                     .addClass('btn btn-danger')
                                                     .on('click', function () {
                                                         $("#pHistoryId").val('');
                                                           $('#smartwizard').smartWizard("reset");
                                                         $.ajax({
                                                             url: '/Patients/Wizard/0',
                                                             dataType: 'json',
                                                             processData: false,
                                                             success: function ($data) {
                                                                 toastr.success("Success, fields are cleared");
                                                             },
                                                             error: function () {
                                                                 toastr.error("Error, The request can not be completed due to some error!");
                                                             }
                                                         });
                                                         //$('#smartwizard').smartWizard("reset");
                                                     });                 

                    // Smart Wizard
                    $('#smartwizard').smartWizard({
                        selected: 0,
                        theme: 'default',
                        transitionEffect: 'fade',
                        showStepURLhash: true,
                        toolbarSettings: {
                            toolbarPosition: 'both',
                            toolbarExtraButtons: [btnFinish, btnCancel]
                        }
                    });


                    // External Button Events
                    $("#reset-btn").on("click", function () {
                        // Reset wizard
                        $('#smartwizard').smartWizard("reset");
                        return true;
                    });

                    $("#prev-btn").on("click", function () {
                        // Navigate previous 
                        $('#smartwizard').smartWizard("prev");
                        return true;
                    });

                    $("#next-btn").on("click", function () {
                        // Navigate next
                        $('#smartwizard').smartWizard("next");
                        return true;
                    });

                    $("#theme_selector").on("change", function () {
                        // Change theme
                        $('#smartwizard').smartWizard("theme", "arrows"); //$(this).val());
                        return true;
                    });
                    $('#smartwizard').smartWizard("theme", "arrows");
                    // Set selected theme on page refresh
                    $("#theme_selector").change();


                    //------------------- To add multiple reports ------------------
                    var max_fields = 10; //maximum input boxes allowed
                    var wrapper = $(".input_fields_wrap"); //Fields wrapper
                    var add_button = $(".add_field_button"); //Add button ID

                    var x = 0; //initlal text box count
                    $(add_button).click(function (e) { //on add input button click
                        e.preventDefault();
                        if (x < max_fields) { //max input box allowed
                            x++; //text box increment
                            $(wrapper).append('<div><input type="file" class="js-upload-files" name="filePath" id="[' + x + '].filePath" /><input type="text" class="js-files-title" name="filetitle" id="[' + x + '].filetitle" /><a href="#" class="remove_field">Remove</a></div>'); //add input box
                        }
                    });

                    $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                        e.preventDefault();
                        $(this).parent().remove();
                        x--;
                    })
                    //for notes

                    var n_max_fields = 10; //maximum input boxes allowed
                    var n_wrapper = $(".n_input_fields_wrap"); //Fields wrapper
                    var n_add_button = $(".n_add_field_button"); //Add button ID

                    var x = 0; //initlal text box count
                    $(n_add_button).click(function (e) { //on add input button click
                        e.preventDefault();
                        if (x < n_max_fields) { //max input box allowed
                            x++; //text box increment
                            $(n_wrapper).append('<div><input type="file" class="js-note-files" name="notePath" id="[' + x + '].notePath" /><input type="text" class="js-note-title" name="notetitle" id="[' + x + '].notetitle" /><a href="#" class="remove_field">Remove</a></div>'); //add input box
                        }
                    });

                    $(n_wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                        e.preventDefault();
                        $(this).parent().remove();
                        x--;
                    })
                    //------------------- END of multiple reports ------------------
                });
                
                //submission form -------start-----------
                $(document).find('.submitForm').on('click', function (e) {
                    $(document).find(".saveError").css("display", "none");
                    var pHistoryId = $("#pHistoryId").val();
                    var parentForm = $(this).parent().parent().parent().attr('id');
                    console.log(stepNumbersForm, "the parent id is", pHistoryId);
                    var selectAnyChecked = false;
                    var selectintakeRefer = false;
                    var selectintakeSymptom = false;
                    if (stepNumbersForm == 4) {
                        $(".finish-button").removeClass("disabled")
                    }
                    if (stepNumbersForm !== undefined && stepNumbersForm == 2) {
                        $('#intakeInterferingCondition input[type="checkbox"]').each(function () {
                            if ($(this).is(":checked")) {
                                selectintakeRefer = true;
                                return false;
                            } else { selectintakeRefer = false; }
                        }); $('#intakeSymptom input[type="checkbox"]').each(function () {
                            if ($(this).is(":checked")) {
                                selectintakeSymptom = true;
                                return false;
                            } else { selectintakeSymptom = false; }
                        }); $('#intakeDisease input[type="checkbox"]').each(function () {
                            if ($(this).is(":checked")) {
                                selectAnyChecked = true;
                                if (selectintakeSymptom && selectintakeRefer) {
                                    return false;
                                } else { selectAnyChecked = false;}
                            } else { selectAnyChecked = false; }
                        });
                    } else {
                        $('#' + parentForm + ' input[type="checkbox"]').each(function () {
                            if ($(this).is(":checked")) {
                                selectAnyChecked = true;
                                return false;
                            } else { selectAnyChecked = false; }
                        });
                    }
                    if (selectAnyChecked) {
                        $(".ajax_loader_save").css("display", "block");
                        $(document).find(".saveError").css("display", "none");
                          $.ajax({
                            type: "POST",
                            enctype: "multipart/form-data",
                            url: "/Patients/" + parentForm + "/?pHistoryId=" + pHistoryId,
                            data: $('#' + parentForm).serialize(),
                            success: function (data) {
                                console.log(data);
                                if (data) {
                                    toastr.success("Data save successfully!");
                                    $(".ajax_loader_save").css("display", "none");
                                    $(document).find(".saveError").css("display", "none");
                                    setTimeout(function () {
                                        $(".sw-btn-next").removeClass("disabled");
                                        $(".sw-btn-next").css("pointer-events", "auto");
                                    }, 10);
                                    //the below conditions is for if we add or remove a procedure type 
                                    //then accordingly we will add it in dropdown for necessity page
                                    if(parentForm ==="procedureTypes")
                                        {
                                        $('#selectThisProcedures').html('');
                                        var newhtml = '<option selected="" disabled="">--select a procedure--</option>';
                                        $('#procedureTypes input:checkbox.procedure_Type:checked').each(function () {
                                           newhtml += '<option value="'+$(this).attr('value')+'">'+ $(this).next('label').text()+'</option>'
                                        });
                                        $('#selectThisProcedures').html(newhtml);
                                        }
                                }
                            },
                            error: function () {
                                toastr.error("Error, The request can not be completed due to some error!");
                            }
                        })
                    } else { $(document).find(".saveError").css("display", "block"); }
                });
                //submission form -------End-----------

                
                $('#addPatientReport').click(function () {
                    $formData = new FormData();
                    var pHistoryId = $("#pHistoryId").val();
                    var selectFileChecked = false;
                    var selectTextChecked = false;
                    $('.js-upload-files').each(function () {
                        console.log("id",this.id);
                        var $file = document.getElementById(this.id);
                        console.log($file,"file path", $file.files.length);   

                    if ($file.files.length > 0) {
                       for (var i = 0; i < $file.files.length; i++) {
                           $formData.append('filePath', $file.files[i]);
                           selectFileChecked = true;
                       }
                        }
                    });
                    $(".js-files-title").each(function (x, y) {
                        $formData.append($(y).attr("name"), $(y).val());
                        selectTextChecked = true
                    });
                    if (selectFileChecked && selectTextChecked) {
                        $(".ajax_loader_save").css("display", "block");
                        $(document).find(".saveError").css("display", "none");
                        $.ajax({
                            url: '/Patients/uploadReports?pHistoryId=' + pHistoryId,
                            type: 'POST',
                            data: $formData,
                            dataType: 'json',
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function ($data) {
                                toastr.success("Data save successfully!");
                                $(".ajax_loader_save").css("display", "none");
                                setTimeout(function () {
                                    $(document).find(".saveError").css("display", "none");
                                    $(".sw-btn-next").removeClass("disabled");
                                    $(".sw-btn-next").css("pointer-events", "auto");
                                }, 10);
                                oReportTable.ajax.reload();
                            },
                            error: function () {
                                toastr.error("Error, The request can not be completed due to some error!");
                            }
                        });
                    } else { $(document).find(".saveError").css("display", "block"); }
                });

                //progress note
                $('#addProgressNote').click(function () {
                    $formData = new FormData();
                    var pHistoryId = $("#pHistoryId").val();
                    var selectFileCheckedn = false;
                    var selectTextCheckedn = false;
                    $('.js-note-files').each(function () {
                        console.log("id", this.id);
                        var $file = document.getElementById(this.id);
                        console.log($file, "file path", $file.files.length);

                        if ($file.files.length > 0) {
                            for (var i = 0; i < $file.files.length; i++) {
                                $formData.append('notePath', $file.files[i]);
                                selectFileCheckedn = true;
                            }
                        }
                    });
                    $(".js-note-title").each(function (x, y) {
                        $formData.append($(y).attr("name"), $(y).val());
                        selectTextCheckedn = true
                    });
                    if (selectFileCheckedn && selectTextCheckedn) {
                        $(".ajax_loader_save").css("display", "block");
                        $(document).find(".saveError").css("display", "none");
                        $.ajax({
                            url: '/Patients/uploadProgressNote?pHistoryId=' + pHistoryId,
                            type: 'POST',
                            data: $formData,
                            dataType: 'json',
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function ($data) {
                                toastr.success("Data save successfully!");
                                $(".ajax_loader_save").css("display", "none");
                                setTimeout(function () {
                                    $(document).find(".saveError").css("display", "none");
                                    $(".sw-btn-next").removeClass("disabled");
                                    $(".sw-btn-next").css("pointer-events", "auto");
                                }, 10);
                                oNotesTable.ajax.reload();
                            },
                            error: function ($data) {
                                toastr.error("Error, The request can not be completed due to some error!");
                            }
                        });
                    } else { $(document).find(".saveError").css("display", "block"); }
                });
                //upload prog end

                $(document).on('click', '.sw-btn-prev', function (e) {
                    $(document).find(".saveError").css("display", "none");
                    setTimeout(function () {
                        $(".sw-btn-next").removeClass("disabled");
                        $(".sw-btn-next").css("pointer-events", "auto");
                    }, 10);
                });
                $(document).on('click', '.sw-btn-next', function (e) {
                    $(document).find(".saveError").css("display", "none");
                });
                // Check if primary necessity is selected then enable secondary diaganosis 
                $("input[type='checkbox'].necessities").change(function () {
                    var a = $("input[type='checkbox'].necessities");
                    if (a.filter(":checked").length > 0) {
                        $('#secondaryDiagnosis').prop('disabled', false);
                    }
                    else {
                        $('#secondaryDiagnosis').prop('disabled', true);
                    }
                });

                    $('.physician-signature').on('click', 'a.popup', function (e) {
                    e.preventDefault();
                    OpenPopup($(this).attr('href'), "", "physician_signature");
                    });
                   
                //Finish click
                    $(document).on('click', '.finish-button', function (e) {
                        var pHistoryId = $("#pHistoryId").val();
                        $.ajax({
                            url: '/Patients/Finish?pHistoryId=' + pHistoryId,
                            type: 'POST',
                            dataType: 'json',
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function ($data) {
                              
                                window.open('/Patients/orderReport/' + pHistoryId,'_blank'); 
                             //    window.location.href = '/Patients/orderReport/' + pHistoryId;
                              //  toastr.success("Data save successfully!");
                            },
                            error: function ($data) {
                                toastr.error("Error, The request can not be completed due to some error!");
                            }
                        });
                    });
            </script>
                     
        }